---
layout: default
---

<div class="home">
  <div class="home-jumbotron">
  <img src="/assets/images/haxegon_logo.png">
  <h1>Haxegon</h1>
  <h4>A programming library for beginners</h4>
  <h5><p><i>Currently <a href="https://github.com/haxegon/haxegon/releases/tag/0.12.1">v0.12.1</a></i></p></h5>
  </div>
  <h2>About</h2>
  <p>Haxegon is a tiny Haxe programming library aimed at beginners. It is powered by <a href="http://www.openfl.org/">OpenFL</a> and <a href="https://github.com/openfl/starling">Starling</a>.</p>
  <p>Haxegon compiles natively to HTML5 and Desktop (Windows, MacOS, Linux, Neko). Flash is also supported as a legacy/development platform.</p>
  <p>It is currently in alpha, so things are changing fast and stuff might be broken. You can check out the source on <a href="https://github.com/haxegon/haxegon">GitHub</a>.</p>
  <p>Thanks for checking it out! If you have any feedback, you can email the Haxegon team at <a href="mailto:helloeveryone@haxegon.com">helloeveryone [at] haxegon [dot] com</a> or you can contact the author of Hexagon on <a href="https://twitter.com/terrycavanagh">Twitter</a>.</p>
</div>
